.header{
    background-image: url(../../../../assets/images/headerBG.png);
    padding: 20px 25px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    gap: 10px;
    color: white;
}