<div class="vlt-title d-flex justify-content-between align-items-center">
  <h1 class="p-0 m-0">KÖNÜLLÜLƏR</h1>
  <div class="btns d-flex">
    <button class="det-filter">
      <i class="fa-solid fa-filter"></i> Detallı filter et
    </button>
    <button class="new-vlt"><i class="fa-solid fa-plus"></i> Əlavə et</button>
    <button class="export"><i class="fa-solid fa-download"></i> Export</button>
  </div>
</div>

<div class="volunteers-table pt-3 w-100">
  <p-table
    #dataTable
    [columns]="cols"
    [value]="volunteers"
    dataKey="id"
    [style]="{'overflow-y':'none'}"
    [scrollDirection]="'horizontal'"
    [virtualScroll]="true"
    [virtualRowHeight]="30"
    scrollHeight="1000vh"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
          <form>
            <input
            class="ps-3 pe-5"
              *ngIf="col.header == 'Soyad,ad,atasının adı'"
              type="text"
              pInputText
              placeholder="Soyad,ad,atasının adı"
            />

            <input
              *ngIf="col.header == 'Cins'"
              type="text"
              pInputText
              placeholder="Seçin"
            />

            <input
              *ngIf="col.header == 'Doğum tarixi'"
              type="text"
              pInputText
              placeholder="Doğum tarixi"
            />

            
            <input
              *ngIf="col.header == 'FIN kod'"
              type="text"
              pInputText
              placeholder="FIN kod"
            />

            <input
              *ngIf="col.header == 'Ailə vəziyyəti'"
              type="text"
              pInputText
              placeholder="Ailə vəziyyəti"
            />

            <input
              *ngIf="col.header == 'Əlaqə nömrəsi'"
              type="text"
              pInputText
              placeholder="Əlaqə nömrəsi"
            />

            <input
              *ngIf="col.header == 'Elektron-poçt'"
              type="text"
              pInputText
              placeholder="Elektron-poçt"
            />

            <input
              *ngIf="col.header == 'Fəaliyyətə başlama tarixi'"
              type="text"
              pInputText
              placeholder="Fəaliyyətə başlama tarixi"
            />

            <input
              *ngIf="col.header == 'Fəaliyyətin bitmə tarixi'"
              type="text"
              pInputText
              placeholder="Fəaliyyətin bitmə tarixi"
            />
          </form>
        </th>
        <th><i class="fa-solid fa-filter"></i></th>
        <th><i class="fa-solid fa-arrows-rotate"></i></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td class="edit-icon custom-col-icon">
          <i class="fa-solid fa-pen"></i>
        </td>
        <td class="delete-icon custom-col-icon">
          <i class="fa-solid fa-trash"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <mat-paginator
    class="py-3 px-0 m-0"
    [length]="100"
    [pageSize]="8"
    [pageSizeOptions]="[8, 16, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
